@charset "UTF-8"; 
@font-face {
    font-family:'Fontelogo';
    src: url(/projeto-glass-html5/_fonts/bubblegum-sans-regular.otf);
}
@font-face {
    font-family: 'fonteh2';
    src: url(/projeto-glass-html5/_fonts/TitilliumWeb-Regular.ttf);
}

body{
   background-color: #dddddd;
   font-family: Arial,sans-serif;
}


div#interface {
    width: 1100px;
    margin: -20px auto 0px auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    padding: 10px; 
}

p{
    text-align: justify;
    text-indent: 50px;

} /* da para se utilizar comentarios muito útil*/

a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*usei classes*/


figure.foto-legenda{
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    position:relative;
}

figure.foto-legenda img {
    width: 100%; /*altura*/
    height: 100%; /*largura*/
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.404);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}



/* Formatação do Menu*/

nav#menu {
    display:block;
    
    
}

nav#menu ul {
    list-style:none;
    text-transform: uppercase;
    position: absolute;
    top:-20px;
    left:600px;

}

nav#menu li {
    display:inline-block;
    background-color:rgb(196, 193, 193);
    padding: 10px;
    margin-top: 2px;
    transition: background-color 1s;
}
/*Efeito de passar por cima no menu*/
nav#menu li:hover {
    background-color: #606060;
}
nav#menu h1 {
    display:none;
}

nav#menu a {
    color: black;
    /*para tirar o sublinhado do link é so usar text-decoration*/
    text-decoration: none;

}

nav#menu a:hover {
    color:white;
    
}

img#icone {
    position:absolute;
    left: 1000px;
    top: 50px;
    width: 250px;

}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("/projeto-glass-html5/_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    /* colocar fonte*/
    font-family:'Fontelogo', sans-serif;
    font: size 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    /*fonte o mesmo de cima tbm, so que configuraçoes diferentes.*/
    font-family: 'fonteh2', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px; 
    margin-top: 0px;
}

section#corpo {
    display: block;
    width: 600px;
    float:left;
    border-right: 1px solid #606060;
    padding-right: 15px; 
}
aside#lateral {
    display:block;
    width: 450px;
    float:right;
    padding-left: 2px;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.589);
}

aside#lateral h1 {
    font-family: "Fontelogo";
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;

}

aside#lateral h2 {
    background-color: #666565;
    font-size: 13pt;
    color:#8f8f8f;
}

footer#rodape {
    clear:both;
    border-top: 1px #606060 solid;
        
}

footer#rodape p {
    text-align: center;
}


table#tabela {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right:auto;
}

table#tabela td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
   
    
}


table#tabela td.ce{
    color: #ffffff;
    background: #606060;
    vertical-align: top;
    font-weight:bold;
   

}

table#tabela td.cd {    
    background: #c7c6c6;


}

table#tabela caption {
    color: #888888;
    font-size: 15pt;
    font-weight: bolder;
}

table#tabela caption span {
    display:block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 12px;
}       

article#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #c5c5c5;
    padding: 5px 0px 5px 10px; 
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: "Fontelogo";
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;

}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color:white;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #606060;
}

header#cabecalho-artigo h3.atualizacao {
    text-align: right;
}



